<div class="footerContainer">
    <div class="logo">
        <img src="../../assets/images/bird_2.png" alt="">
    </div>
    <div class="navigate">
        <p>Navega por la pagina</p>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Sobre Nosotros</a></li>
            <li><a href="">Servicios</a></li>
        </ul>
    </div>
    <div class="contactUs">
        <p>Contáctanos</p>
        <ul>
            <li>Telefono: </li>
            <li>Correo: </li>
            <li>Dorección: </li>
        </ul>
    </div>
</div>