<div class="loginContainer">
    <div class="cardContainer">
        <div class="title">
            <h1>Iniciar Sesión</h1>
        </div>
        <div class="formularioLogin">
            <div class="fields">
                <div class="inputTitle">
                    <p>Correo</p>
                </div>
                <input type="email">
            </div>
            <div class="fields">
                <div class="inputTitle">
                    <p>Contraseña</p>
                </div>
                <input type="password">
            </div>
            <button class="animated-button">Enviar</button>
        </div>
        <div class="registerLink">No tienes una cuenta? <a href="register">Registrate</a></div>
    </div>
</div>