<div class="loginContainer">
    <div class="cardContainer">
        <div class="title">
            <h1>Registrate</h1>
        </div>
        <div class="formularioLogin">
            
            <div class="fields">
                <div class="inputTitle">
                    <p>Nombre</p>
                </div>
                <input type="text">
            </div>
            <div class="fields">
                <div class="inputTitle">
                    <p>Telefono</p>
                </div>
                <input type="number">
            </div>
            <div class="fields">
                <div class="inputTitle">
                    <p>Correo</p>
                </div>
                <input type="email">
            </div>
            <div class="fields">
                <div class="inputTitle">
                    <p>Contraseña</p>
                </div>
                <input type="password">
            </div>
            <button class="animated-button">Enviar</button>
        </div>
        <div class="registerLink">Ya tienes una cuenta? <a href="login">Inicia Sesión</a></div>
    </div>
</div>