<div class="homeContainer">
    <div class="mainPart">
        <h1 class="title"><a href="">Corte</a> Laser</h1>
        <h2 class="subtitle">Cotiza aqui tus cortes laser</h2>
        <p class="disclaimer"></p>
        <div class="upload-container">
            <input type="file" id="fileInput" accept=".dxf">
        </div>
        <div class="infoIcons">
            
        </div>
        <div class="sendButton">
            <button class="animated-button" (click)="imprimiraa()">Enviar a Cotizar</button>
            <p class="noRegister"></p>
        </div>
    </div>
    <div class="sobrelaserContainer">
        <div class="sobreLaser">
            <h1>¿Que es el corte laser?</h1>
            <h5>El corte láser es una tecnología que utiliza un láser para cortar materiales, y se utiliza típicamente para aplicaciones de fabricación industrial, aunque también está empezando a ser utilizado por pequeñas empresas, escuelas y aficionados. El corte láser funciona dirigiendo la salida de un láser de alta potencia, más comúnmente a través de óptica. El láser óptico es enfocado por una lente en el material a cortar, lo que provoca que el material se derrita, queme, vaporice o se sople mediante un chorro de gas, dejando un borde con un acabado de superficie de alta calidad.</h5>
        </div>
    </div>
    <div class="alliesLogos">

    </div>
    <div class="behindeScenes">

        <button class="followusButton"></button>
    </div>
    <div class="faq"></div>
    
</div>
